<%- layout("./layouts/boilerplate") %>   
<style>
    .container{
        max-width: 800px;
        margin-left: 480px;
        margin-top: 20px;
    }

    input, select{
        width: 160px;
        padding: 8px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    button{ 
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        padding: 10px;
    }
</style>
<div class="container">
    <form method="post" action="/purchaseOrders/">
        <table id = "table">
            <h5>Date: <input type = "date" name = "date" id = "date"></h5>
            <tr>
                <th>Items Ordered</th>
                <th>Price Pu</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>

            <tr id="order1" class="order">
                <td> 
                    <select id = "productName" name="itemsOrdered"> 
                        <% for(let product of products){ %>
                            <option value = "<%= product.product %> " name="itemsOrdered"><%= product.product %></option>
                        <%} %>
                    </select>
                </td>
                <td>
                    <input type="number" name="pricePu" id="price" class="eventListener">
                </td>
                <td><input type="number" name = "quantity" id = "qty" class="eventListener"></td>
                <td><input type = "number" name = "totalForEach" id = "total"></td>
            </tr>             
           

        </table>
        <button id="orderMore">Add more items</button>

        <h4>Grand Total: <input type = "number" name = "grandTotal" id="grandTotal"></h4>
        
        <textarea cols="30" rows="10" name="remarks">Remarks</textarea>
        <button>Save</button>

    </form>
</div>      

<script src="../../public/js/purchaseOrder.js"></script>


